[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras =  "*"
tensorflow-gpu =  "*"
protobuf = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
pydot = "*"
xlwt = "*"
opencv-python-headless = "*"
opencv-python = "*"
scipy = "*"
gymnasium = {extras = ["classic_control", "atari"]}
graphviz = "*"
pydotplus = "*"
openpyxl = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
